<ul class="nav navbar-nav">
  <li>
    <a routerLink="about">About</a>
  </li>
  <li>
    <a routerLink="home">home</a>
  </li>
   <li>
    <a routerLink="contact-us">Services</a>
  </li>
</ul>

<router-outlet> </router-outlet>
