p {
    font-family: Lato;
  }
  .nav{
    display:flex;
    justify-content: center;
    background-color: grey;
    height: 40px;
    margin: 0;
  }
  li {
    margin-right: 20px;
    margin-left: 20px;
  }
  
  